<app-header titulo="registrar por QR"></app-header>

<ion-content>
    <ion-row>
        <ion-col>
            <ion-text color="primary" style="text-align: start;">
                <h2>Codigo</h2>
            </ion-text>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-input type="text" name="codigo"  [(ngModel)]="codigo" (ionChange)="cargarInformacion()" placeholder="codigo"></ion-input>
        </ion-col>
    </ion-row>
    
    <ion-row>
        <ion-col>
            <ion-text color="primary" style="text-align: start;">
                <h2>Nombre(s)</h2>
            </ion-text>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col ion-item *ngFor="let item of listado">
            <h3>{{ item.nombre_de_usuario | titlecase }}</h3>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-text color="primary" style="text-align: start;">
                <h2>Apellido Paterno</h2>
            </ion-text>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col ion-item *ngFor="let item of listado">
            <h3>{{ item.apellido_paterno | titlecase }}</h3>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-text color="primary" style="text-align: start;">
                <h2>Apellido Materno</h2>
            </ion-text>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col ion-item *ngFor="let item of listado">
            <h3>{{ item.apellido_materno | titlecase }}</h3>
        </ion-col>
    </ion-row>

    <ion-button expand="block" color="success" (click)="LeerCode()" style="margin-bottom: 0%;">Scannear Código
    </ion-button>
    <ion-button expand="block" color="primary" (click)="registrarAsistencia()" style="padding-bottom: 0%;">Registrar
    </ion-button>

</ion-content>