<ion-menu side="start" menuId="Menu"  class="my-custom-menu" contentId="principal">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="dark-bg">
    <ion-list>
      <ion-menu-toggle>
        <ion-item routerLink="/login" no-borner>
          <ion-icon slot="start" name="person-add"></ion-icon>
          <ion-label>
            Registrar Asistencia
          </ion-label>
        </ion-item>
        <ion-item routerLink="/inicio" no-borner>
          <ion-icon slot="start" name="home"></ion-icon>
          <ion-label>
            inicio
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="list-box"></ion-icon>
          <h2 ion-text color="light">Lista Asistencia</h2>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-menu side="end" menuId="menuDer" contentId="principal" type="push">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>End Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>