ion-item{
    --background: #00e5ff;
    --color: #000000;
}
ion-button{
    --background: #062f77;
}
h1{
    font-size: 500%;
}
ion-button{
    margin-bottom: 10%;
}
ion-content{
    --background: #00b8d4;
}
span{
    float: right;
}